* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 100vh;
    background-color: salmon;
}
.container h1 {
    text-align: center;
}

.center {
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    background-color: lightblue;
    padding: 30px 10px;
    text-align: center;
    width: 18%;
    height: 250px;
    border-radius: 20px;
    border: solid 1px wheat;
}
span {
    font-size: 20px;
    margin-top: 15px;
}